* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --amber: #e6b515;
  --green: #14a96d;
  --white: #fff;
  --beige: #ebe7dc;
  --offwhite: #faf9f6;
  --black: #0000;
  --content-wrapper-width: 1170px;
}

body {
  min-height: 100%;
  background-color: var(--offwhite);
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 100%;
}

main {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

ul {
  list-style: none;
}

p {
  margin-top: 9px;
  margin-bottom: 9px;
  padding-top: 1em;
  padding-bottom: 1em;
}

nav {
  display: flex;
  height: auto;
  width: 100%;
  background-color: var(--amber);
  justify-content: flex-end;
  position: fixed;
  opacity: 0.9;
  padding: 0 15px;
  z-index: 5;
  transition: 0.5s ease-in-out;
}

/* navbar logo */
.logo {
  font-weight: 700;
  padding: 3px 10px 7.5px 0;
  justify-content: center;
  flex: 0 1 50rem;
  font-size: 2rem;
  margin-right: 100px;
}

/* hamburger menu bars */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease in;
  background-color: #000;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--amber);
}

a {
  color: inherit;
}

/* header */
.header-img {
  background-image: url(../images/smallbeer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  padding: 3.5em;
  max-width: 100%;
}

.header-text {
  top: 200px;
  width: 200px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

/* hamburger menu animation */
#mobile-menu.toggle-open {
  transform: translateX(0%);
  opacity: 1;
}

/* header ends */

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

/* for modal pop up */
.modal-content {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.modal-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
  margin: 0 auto;
}

.modal-flex img {
  max-width: 300px;
  height: auto;
  flex-direction: center;
}

/* modal form */
.form-item {
  margin: 30px 20px 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-item input {
  padding: 10px;
}

label {
  margin-right: 35px;
}

input[type="submit"] {
  padding: 0.4em;
  background-color: var(--amber);
  box-shadow: 5px 5px 0 rgba(15, 15, 15, 0.5);
}

input[type="submit"]:hover {
  padding: 0.4em;
  box-shadow: 1px 1px 0 rgba(15, 15, 15, 0.5);
  transition: all 0.5s ease;
}

/* modal pop up styling ends */

.about {
  display: flex;
  display: inline-block;
  text-align: center;
}

/* for Javascript image transistions */
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

/* Javascript image transitions end */

/* main sections */
.shop .boxes .how-to {
  text-align: center;
  display: inline-block;
  align-items: center;
}

/* stories section hover pop up text */
.img-wrap {
  position: relative;
}

.img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

/* stories section hover pop up text ends*/

section {
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-bottom: 5em;
}

button {
  border-radius: 3px;
  background-color: var(--amber);
  box-shadow: 5px 5px 0 rgba(15, 15, 15, 0.5);
  font-size: 1rem;
  display: inline-block;
  width: 10em;
  height: auto;
  padding: 1em;
  display: block;
}

/* stories image section */
.stories {
  background-color: var(--beige);
}

.gradient {
  background-color: red;
  background-image: linear-gradient(#e6a415, rgb(185, 180, 98));
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

/* newsletter section */
.subscribe {
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1px;
}

.input {
  margin: 0 auto;
  padding: 0;
  color: var(--amber);
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* newsletter section ends */

/* footer */
.footer {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 30px;
  color: #fff;
}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #999;
}

.h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
}

.l-footer h2 {
  padding-right: 20%;
  color: white;
  font-size: 2em;
}

/* footer ends */

section picture {
  flex-basis: 10rem;
}

section div {
  flex-basis: 5rem;
}

section button {
  margin: 0 auto;
  padding: 0.8em;
}

button:hover {
  box-shadow: 1px 1px 0 rgba(15, 15, 15, 0.5);
  transition: all 0.5s ease;
}
section p {
  text-align: center;
  padding: 4em;
}

section button {
  display: flex;
  justify-content: center;
}

section:nth-of-type(7) {
  margin-top: 3.1em;
  padding: 1px;
  margin-bottom: 3em;
}

/* footer specifity styling */
.box li img {
  display: flex;
  flex-direction: row;
  width: 40px;
  margin: 5px;
}

.social-media {
  display: flex;
}
/* footer specifity styling ends */

p.header-text {
  font-size: 1em;
}

/* nav bar children/grandchildren styling */
nav ul {
  display: flex;
  margin: 10px;
}

nav ul li {
  cursor: pointer;
  padding: 0.5rem;
  flex: auto;
  text-align: center;
}

nav li {
  justify-content: space-around;

  margin: 5px;
  max-width: 100%;
}

nav ul li:hover {
  color: var(--amber);
  transition: all 0.5s ease-in-out;
}

/* nav bar children/grandchildren styling ends */

.about h2 {
  font-size: 3rem;
  color: var(--amber);
}

section img {
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
}

section:first-of-type {
  padding: 0.7em;
  border-bottom: 1px solid #000;
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .stories ul {
    flex-direction: row;
  }

  .stories li {
    height: auto;
    width: 100%;
    margin: 0;
  }

  .stories img {
    max-width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
  .footer ul {
    margin: 30px 1px;
  }

  /* mobile toggable menu */
  .nav-menu {
    position: fixed;
    left: -125%;
    top: 4.2rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.8s ease-in-out;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }
  /* mobile toggable menu ends*/

  /* floating bubble animations in footer */
  .bubble {
    overflow: hidden;
    width: 40px;
    height: 40px;
    background: #f8d151;
    border-radius: 50%;
    position: absolute;
  }

  .x1 {
    left: 200px;
    transform: scale(0.6);
    opacity: 0.5;
    animation: floatingbubbles 25s linear infinite,
      sideWays 6s ease-in-out infinite alternate;
  }

  .x2 {
    left: 155px;
    transform: scale(0.9);
    opacity: 0.2;
    animation: floatingbubbles 15s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
  }

  .x3 {
    left: 130px;
    transform: scale(0.4);
    opacity: 0.8;
    animation: floatingbubbles 12s linear infinite,
      sideWays 1s ease-in-out infinite alternate;
  }

  .x4 {
    left: 40px;
    transform: scale(0.7);
    opacity: 0.4;
    animation: floatingbubbles 8s linear infinite,
      sideWays 5s ease-in-out infinite alternate;
  }

  .x5 {
    left: 55px;
    transform: scale(0.5);
    opacity: 0.6;
    animation: floatingbubbles 20s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
  }

  @keyframes floatingbubbles {
    0% {
      opacity: 0;
      top: 700px;
    }
    10% {
      opacity: 0.6;
      top: 650px;
    }
    90% {
      opacity: 0.7;
      top: 0px;
    }
    100% {
      opacity: 0;
      top: 20px;
    }
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 30px;
    }
  }
  /* bubbles animations end */

  /* hamburger menu */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
  }
  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  /* hamburger menu ends */

  .logo:hover {
    color: white;
    transition: all 0.5s ease-in-out;
  }
}

@media only screen and (min-width: 600px) {
  .header-img {
    background-image: url(../Images/Mediumbeer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 2em;
    max-height: 100%;
    margin-bottom: 0;
  }

  nav {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
  }

  .logo {
    font-weight: 700;
    padding: 3px 10px 7.5px 0;
    justify-content: center;
    font-size: 2rem;
  }

  .hamburger {
    display: none;
  }

  .header-text {
    width: 300px;
    color: #fff;
    padding: 3em;
  }

  nav ul {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
  }

  nav li {
    justify-content: space-around;
    padding: 5px;

    margin: 5px;
    max-width: 100%;
  }

  main {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 0 auto;
  }

  section {
    margin: 0;
    padding: 0;
  }

  nav ul li:hover {
    color: white;
    transition: all 0.5s ease-in-out;
  }

  section p {
    text-align: center;
    padding: 2em;
  }

  section:first-of-type {
    padding: 2.5rem;
    border-bottom: 1px solid #000;
    margin: 10px;
  }

  section:nth-of-type(6) {
    margin-top: 50px;
  }

  section button {
    margin: 0 auto;
    padding: 0.8em;
  }

  /* for stories section grid styling and order */
  .grid-row {
    display: flex;
    flex-direction: row;
  }

  .grid-column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 0;
  }

  .grid-half {
    max-width: 50%;
    justify-content: center;
  }

  .first-order {
    order: 0;
  }

  .second-order {
    order: 1;
  }

  .stories ul {
    display: flex;
    flex-wrap: wrap;
  }

  .stories li {
    height: 20vh;
    flex-grow: 1;
    margin: 5px;
  }

  .stories img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  /* stories section ends */

  /* footer */

  .r-footer > * {
    flex: 1;
  }

  .box li img {
    display: flex;
    flex-direction: row;
    width: 40px;
    margin: 5px;
  }

  .features {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }

  /* footer ends */

  /* bubbles animation */

  .bubble {
    overflow: hidden;
    width: 40px;
    height: 40px;
    background: #f8d151;
    border-radius: 50%;
    position: absolute;
  }

  .x1 {
    left: 50px;
    transform: scale(0.6);
    opacity: 0.5;
    animation: floatingbubbles 20s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
  }

  .x2 {
    left: 90x;
    transform: scale(0.8);
    opacity: 0.2;
    animation: floatingbubbles 15s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
  }

  .x3 {
    left: 140px;
    transform: scale(0.4);
    opacity: 0.7;
    animation: floatingbubbles 12s linear infinite,
      sideWays 7s ease-in-out infinite alternate;
  }

  .x4 {
    left: 210px;
    transform: scale(0.7);
    opacity: 0.4;
    animation: floatingbubbles 8s linear infinite,
      sideWays 5s ease-in-out infinite alternate;
  }

  .x5 {
    left: 330px;
    transform: scale(0.5);
    opacity: 0.6;
    animation: floatingbubbles 12s linear infinite,
      sideWays 1s ease-in-out infinite alternate;
  }

  @keyframes floatingbubbles {
    0% {
      opacity: 0;
      top: 250px;
    }
    10% {
      top: 225px;
      opacity: 0.6;
    }
    90% {
      opacity: 0.7;
      top: 0px;
    }
    100% {
      opacity: 0;
      top: 20px;
    }
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }
  /* bubbles animation ends */

  /* animation for images and Javascript */
  .scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
  }

  .scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
  }

  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translatex(-100px);
    }
    100% {
      opacity: 1;
      transform: translatex(0);
    }
  }

  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translatex(100px);
    }
    100% {
      opacity: 1;
      transform: translatex(0);
    }
  }

  /* animation for images and Javascript ends*/

  /* Modal pop-up styling for desktop */
  .modal-content {
    display: flex;
    flex-direction: row;
  }

  .modal-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 3em;
  }

  .modal-flex img {
    max-width: 500px;
    height: auto;
  }

  .modal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2em;
  }

  /* Modal styling ends */

  .subscribe-btn {
    display: flex;
    align-self: flex-start;
    background-color: white;
    border-radius: 5px;
    max-width: 10em;
    color: var(--amber);
  }

  .subscribe-btn:hover {
    background-color: transparent;
    color: white;
    transition: 500ms ease-in-out;
  }
}

@media only screen and (min-width: 900px) {
  section p {
    text-align: center;
    padding: 5em;
  }
  .stories li {
    height: 40vh;
    flex-grow: 1;
    margin: 5px;
  }
  .logo {
    font-weight: 700;
    padding: 3px 10px 7.5px 0;
    justify-content: center;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  /* for modal pop up tablets*/
  .modal-content {
    display: flex;
    flex-direction: column;
    padding-left: 3em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .img-description {
    font-size: 12px;
  }
}

/* For Galaxy Folds and smaller */

@media only screen and (max-width: 350px) {
  .logo {
    font-size: 1.5rem;
    margin-right: 2em;
  }

  .input {
    flex-direction: column;
    align-items: center;
  }

  .input input {
    margin: 1em;
  }
}
