@use '../abstracts/' as a;

/* footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 30px;
  color: a.$white;

  > * {
    flex: 1 100%;
  }
  .footer__l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;

    .footer__heading {
      list-style: none;
      padding-left: 0;
    }
  }
}

.footer--gradient {
  @include a.background-gradient(
    red,
    linear-gradient(a.$gradient-amber, a.$gradient-yellow)
  );
}

.footer {
  li {
    line-height: 2em;
  }
  a {
    text-decoration: none;
    color: a.$footer-grey;

    &:hover {
      color: scale-color($color: a.$footer-grey, $lightness: -30%);
    }
  }
}

.footer__r-footer {
  display: flex;
  flex-flow: row wrap;
}

.footer__r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.footer__box--h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.footer__b-footer {
  text-align: center;
  color: a.$footer-grey;
  padding-top: 50px;
}

.footer__l-footer {
  > .footer__heading {
    color: a.$white;
    font-size: 2em;
  }
}

/* footer ends */

.footer__box {
  .footer__box-item {
    img {
      @include a.flexbox-config($flex-direction: row);
      width: 40px;
      margin: 5px;
    }
  }
}

.footer__box--social-media {
  display: flex;
}

@media only screen and (max-width: a.$tablet-breakpoint) {
  .footer {
    .footer__box {
      margin: 30px 1px;
    }
  }
}

@media only screen and (min-width: a.$tablet-breakpoint) {
  .footer__l-footer {
    .footer_heading {
      padding-right: 20%;
    }
  }
  .footer__r-footer > * {
    flex: 1;
  }

  .footer__features {
    flex-grow: 2;
  }

  .footer__l-footer {
    flex: 1 0px;
  }

  .footer__r-footer {
    flex: 2 0px;
  }

  /* footer ends */
}
