@use '../abstracts/' as a;

/* footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 30px;
  color: a.$white;
}

.footer--gradient {
  @include a.background-gradient(
    red,
    linear-gradient(a.$gradient-amber, a.$gradient-yellow)
  );
}

.footer > * {
  flex: 1 100%;
}

.footer__l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__r-footer {
  display: flex;
  flex-flow: row wrap;
}

.footer__r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.footer__box a {
  color: a.$footer-grey;
}

.footer__box--h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.footer__b-footer {
  text-align: center;
  color: a.$footer-grey;
  padding-top: 50px;
}

.footer__l-footer h2 {
  color: a.$white;
  font-size: 2em;
}

/* footer ends */

/* footer specifity styling */
.footer__box li img {
  @include a.flexbox-config($flex-direction: row);
  width: 40px;
  margin: 5px;
}

.footer__box--social-media {
  display: flex;
}
/* footer specifity styling ends */

@media only screen and (max-width: a.$tablet-breakpoint) {
  .footer ul {
    margin: 30px 1px;
  }
}

@media only screen and (min-width: a.$tablet-breakpoint) {
  .footer__l-footer h2 {
    padding-right: 20%;
  }
  .footer__r-footer > * {
    flex: 1;
  }

  .box li img {
    @include a.flexbox-config($flex-direction: row);
    width: 40px;
    margin: 5px;
  }

  .footer__features {
    flex-grow: 2;
  }

  .footer__l-footer {
    flex: 1 0px;
  }

  .footer__r-footer {
    flex: 2 0px;
  }

  /* footer ends */
}
