@use '../abstracts/' as a;

.header__tagline {
  font-weight: 700;
  font-size: 2rem;
  color: a.$amber;
}

/* header */
.header {
  @include a.prefix(
    background-image,
    url(../images/smallbeer.jpg),
    ms moz webkit
  );
  @include a.prefix(background-size, cover, ms moz webkit);
  @include a.prefix(background-repeat, no-repeat, ms moz webkit);
  @include a.prefix(background-position, top, ms moz webkit);

  position: relative;
  max-width: 100vw;
  height: 100vh;

  .header__text {
    position: absolute;
    top: 25%;
    width: 200px;
    left: 10%;
    color: a.$white;
    @include a.prefix(filter, 100, ms moz webkit);
    font-weight: 600;
    @include a.flexbox-config($flex-direction: column);
    background-color: a.$coral;
    padding: 1em;
    border-radius: 5%;

    .header__tagline {
      font-size: 1.7em;

      + .header__consumer-question {
        font-size: 1.2em;
        padding: 0;
      }
    }
  }
}

/* hamburger menu animation */
#mobile-menu.toggle-open {
  @include a.prefix(transform, translateX(0%), ms moz webkit);

  // transform: translateX(0%);
  opacity: 1;
}

/* header ends */

// Think of using clamp here
@media only screen and (min-width: a.$tablet-breakpoint) {
  .header {
    @include a.prefix(
      background-image,
      url(../Images/Mediumbeer.jpg),
      ms moz webkit
    );
    @include a.prefix(background-size, cover, ms moz webkit);
    @include a.prefix(background-repeat, no-repeat, ms moz webkit);
    @include a.prefix(background-position, top, ms moz webkit);

    position: relative;
    max-width: 100vw;
    height: 100vh;
    margin-bottom: 0;

    .header__text {
      width: 500px;
      color: #fff;
      padding: 3em;
      position: absolute;
      top: 250px;
      left: 0;
      background-color: transparent;
      border-radius: none;

      .header__tagline {
        font-size: 3rem;
        font-weight: 800;

        > .header__consumer-question {
          font-size: 1.5em;
          padding: 0;
          margin-top: 3em;
          font-weight: 600;
        }
      }
    }
  }

  @media only screen and (min-width: 750px) and (max-width: 900px) {
    .nav-item:nth-of-type(2) {
      order: 2;
    }
  }
}

@media only screen and (max-width: a.$sm-mobile-breakpoint) {
  .header {
    .header__text {
      // max-width: 200px;
      color: a.$white;
      padding: 1em;
      position: absolute;
      top: 25%;
      left: 15%;
      border-radius: none;

      .header__tagline {
        font-size: 1.2em;
        font-weight: 800;
        margin-bottom: 0;

        + .header__consumer-question {
          font-size: 0.8em;
          padding: 0;
          margin-top: 3em;
          font-weight: 600;
        }
      }
    }
  }
}
