@use '../abstracts' as a;
/* newsletter section */
.subscribe {
  @include a.flexbox-config($flex-direction: row, $justify-content: center);

  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1px;
}

.subscribe__newsletter-form {
  margin: 0 auto;
  padding: 0;
  color: a.$amber;
  max-width: 1170px;
  @include a.flexbox-config(
    $flex-direction: column,
    $align-items: center,
    $justify-content: center
  );

  margin: 1em 0 0 0;

  .subscribe__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    .subscribe__input-fields {
      margin-left: 0;
      margin-top: 1em;
    }
    input:nth-of-type(2) {
      margin-left: -5px;
    }
  }
}

// section:nth-of-type(7) {
//     margin-top: 6em;
//     padding: 1px;
//     margin-bottom: 3em;
//   }

.subscribe .subscribe__input[type="email"] + input[type="button"] {
  margin: 0;
}

@media only screen and (min-width: a.$tablet-breakpoint) {
  .subscribe__newsletter-form {
    // margin: 0 auto;
    padding: 0;
    color: a.$amber;
    // max-width: 1170px;
    @include a.flexbox-config($flex-direction: row, $justify-content: center);

    .subscribe__input {
      flex-direction: row;
      margin-right: 0.5em;

      .subscribe__input-fields {
        margin-left: 1em;
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: a.$sm-mobile-breakpoint) {
  .subscribe__input-fields input[type="email"] {
    max-width: 100px;
  }
}
