@use '../abstracts' as a;
@use 'sass:math';

$bubble-count: 5;
.bubble {
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: a.$bubble-amber;
  border-radius: 50%;
  position: absolute;
}

@for $i from 1 through $bubble-count {
  .bubble:nth-of-type(#{$i}) {
    animation: floatingbubbles
        #{(random(7) / 3) +
        8}s
        linear
        infinite
        #{random(7) /
        2}s,
      sideWays
        #{(random(7) / 2) +
        8}s
        ease-in-out
        infinite
        alternate
        #{(random(7) / 2) +
        8}s;
  }
}

.x1 {
  left: 100px;
  transform: scale(0.6);
  opacity: 0.5;
}

.x2 {
  left: 55px;
  @include a.prefix(transform, scale(0.9), ms webkit moz);

  opacity: 0.2;
}

.x3 {
  left: 130px;
  @include a.prefix(transform, scale(0.4), ms webkit moz);

  opacity: 0.8;
}

.x4 {
  left: 40px;
  @include a.prefix(transform, scale(0.7), ms webkit moz);
}

.x5 {
  left: 65px;
  @include a.prefix(transform, scale(0.5), ms webkit moz);

  opacity: 0.6;
}

@keyframes floatingbubbles {
  0% {
    opacity: 0;
    top: 225px;
  }
  30% {
    top: 200px;
    opacity: 0.6;
  }
  90% {
    opacity: 0.7;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: random(10) + px;
  }
  50% {
    margin-left: random(200) + px;
  }
  100% {
    margin-right: random(100) + px;
  }
}

@media only screen and (min-width: a.$sm-mobile-breakpoint) {
  .x1 {
    left: 200px;
    transform: scale(0.6);
    opacity: 0.5;
  }

  .x2 {
    left: 155px;
    @include a.prefix(transform, scale(0.9), ms webkit moz);

    opacity: 0.2;
  }

  .x3 {
    left: 130px;
    @include a.prefix(transform, scale(0.4), ms webkit moz);

    opacity: 0.8;
  }

  .x4 {
    left: 40px;
    @include a.prefix(transform, scale(0.7), ms webkit moz);
  }

  .x5 {
    left: 55px;
    @include a.prefix(transform, scale(0.5), ms webkit moz);

    opacity: 0.6;
  }
  @keyframes floatingbubbles {
    0% {
      opacity: 0;
      top: 200px;
    }
    30% {
      top: 150px;
      opacity: 0.6;
    }
    90% {
      opacity: 0.7;
      top: 0px;
    }
    100% {
      opacity: 0;
      top: 20px;
    }
  }

  @keyframes sideWays {
    0% {
      margin-left: random(10) + px;
    }
    50% {
      margin-left: random(200) + px;
    }
    100% {
      margin-right: random(50) + px;
    }
  }
  /* bubbles animation ends */
}

@media only screen and (max-width: a.$tablet-breakpoint) {
  .x1 {
    left: 30px;
    transform: scale(0.6);
    opacity: 0.5;
  }

  .x2 {
    left: 25px;
    @include a.prefix(transform, scale(0.9), ms webkit moz);

    opacity: 0.2;
  }

  .x3 {
    left: 30px;
    @include a.prefix(transform, scale(0.4), ms webkit moz);

    opacity: 0.8;
  }

  .x4 {
    left: 40px;
    @include a.prefix(transform, scale(0.7), ms webkit moz);
  }

  .x5 {
    left: 15px;
    @include a.prefix(transform, scale(0.5), ms webkit moz);

    opacity: 0.6;
  }
}
