@use '../abstracts' as a;

@media only screen and (max-width: 600px) {
  .nav-b__hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-b__hamburger.active .nav-b__bar:nth-child(2) {
    opacity: 0;
  }

  .nav-b__hamburger.active .nav-b__bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .nav-b__hamburger.active .nav-b__bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  // .hamburger.active-hamburger {
  //   .bar:nth-child(1) {
  //     -webkit-transform: translateY(8px) rotate(45deg);
  //     -moz-transform: translateY(8px) rotate(45deg);
  //     -ms-transform: translateY(8px) rotate(45deg);
  //     transform: translateY(8px) rotate(45deg);
  //   }
  //   .bar:nth-child(2) {
  //     opacity: 0;
  //   }
  //   .bar:nth-child(3) {
  //     -webkit-transform: translateY(-8px) rotate(-45deg);
  //     -moz-transform: translateY(-8px) rotate(-45deg);
  //     -ms-transform: translateY(-8px) rotate(-45deg);
  //     transform: translateY(-8px) rotate(-45deg);
  //   }
  // }

  /* hamburger menu ends */
}

@media only screen and (min-width: a.$tablet-breakpoint) {
  .hamburger {
    display: none;
  }
}
