@use '../abstracts' as a;

// TODO: refactor modal to use own code instead of plugin

/* hamburger menu animation */
#mobile-menu.toggle-open {
  transform: translateX(0%);
  opacity: 1;
}

/* for modal pop up */
.modal-content {
  @include a.flexbox-config($flex-direction: column);
  padding-left: 2em;

  .modal-flex {
    @include a.flexbox-config($flex-direction: column);
    text-align: center;
    margin: 50px;
    margin: 0 auto;
  }
}

.modal-flex img {
  max-width: 500px;
  width: 200px;
  height: auto;
  flex-direction: center;
}

/* modal form */
.form-item {
  margin: 30px 20px 30px 0;
  @include a.flexbox-config(
    $justify-content: space-between,
    $flex-direction: column,
    $align-items: center
  );

  input {
    padding: 10px;
  }

  label {
    margin-right: 35px;
  }
}

.modal-submit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

input[type="submit"] {
  padding: 0.4em;
  background-color: a.$amber;
  box-shadow: 5px 5px 0 rgba(15, 15, 15, 0.5);
}

input[type="submit"]:hover {
  padding: 0.4em;
  box-shadow: 1px 1px 0 rgba(15, 15, 15, 0.5);
  transition: all 0.5s ease;
}

@media only screen and (min-width: a.$tablet-breakpoint) {
  .modal-content {
    @include a.flexbox-config($flex-direction: column);
    .modal-flex {
      @include a.flexbox-config($flex-direction: row, $justify-content: center);
      text-align: center;
      margin: 0 auto;
      padding: 3em;
    }
  }

  .modal-flex img {
    width: 500px;
    height: auto;
  }

  .modal-text {
    @include a.flexbox-config(
      $flex-direction: column,
      $justify-content: center
    );
    padding-right: 2em;
  }

  .form-item {
    flex-direction: row;
  }
  /* Modal styling ends */
}

@media only screen and (min-width: 1000px) {
  /* for modal pop up tablets*/
  .modal-content {
    @include a.flexbox-config($flex-direction: row);
    padding-left: 3em;
    margin-top: 10em;
  }
  .form-item {
    flex-direction: row;
  }

  .modal-submit-button {
    margin-left: 4em;
  }
}
