@use '../abstracts' as a;

.our-story-main {
  background-color: scale-color(a.$coral, $lightness: +20%);
  padding: 0;
  max-width: 1600px;
  @include a.flexbox-config($flex-direction: column, $align-items: center);
}

.about-header {
  @include a.prefix(
    background-image,
    url(../Images/windowbeer.JPG),
    ms moz webkit
  );
  @include a.prefix(background-size, cover, ms moz webkit);
  @include a.prefix(background-repeat, no-repeat, ms moz webkit);
  @include a.prefix(background-position, left, ms moz webkit);

  max-width: 100vw;
  height: 100vh;
}

.header-text {
  width: 200px;
  position: absolute;
  left: 15%;
  top: 50%;
  .header-title {
    :nth-child(1) {
      color: a.$amber;
    }
    :nth-child(2) {
      text-transform: uppercase;
      color: a.$white;
    }
  }
}

.about {
  background: a.$white;
  padding: 3em;
}

.about-article {
  padding: 1em;

  .about-copy {
    margin: 1em 0;
  }
}

.beer-photo > img {
  border-radius: 50%;
  width: 150px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  max-width: 100%;
  margin-bottom: 1em;
}

.about-us-txt {
  margin: 3em;
  background: a.$white;
}

.subscribe {
  margin-top: 5.5em;
  padding: 1px;
  margin-bottom: 3em;
}

@media only screen and (min-width: a.$tablet-breakpoint) {
  .about-header {
    background: {
      image: url(../Images/windowbeer.JPG);
      size: cover;
      repeat: no-repeat;
      position: center;
    }
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  .header-text {
    width: 300px;
    position: absolute;

    width: 300px;
    left: 10%;
    top: 50%;
    font-size: 2em;
    white-space: nowrap;
  }

  .about-us-txt {
    margin: 2em 10em;
  }

  .about-article {
    padding: 3em;

    .about-copy {
      margin: 1em 0;
    }
  }
  .beer-photo > img {
    width: 300px;
    max-width: 300px;
  }

  .about {
    margin: 5em;
    padding: 3em;
  }
}

@media only screen and (min-width: a.$header-text-tweakpoint) {
  .header-text {
    left: 3%;
  }
}
