@use '../abstracts' as a;

// TODO: build accordion for boxes information or research better UI/UX
// product boxes using the Flickity plugin
.boxes__header {
  margin: 4rem 0 2rem 0;
  padding: 0;

  :nth-child(1) {
    color: a.$amber;
  }

  :nth-child(3) {
    margin: 1em 2em 0 0;
  }
}

.boxes__wrapper {
  @include a.flexbox-config($flex-direction: column, $align-items: center);
}
/* for carousels */
.boxes__main-carousel {
  background: a.$light-grey;
  width: 300px;
  margin: 30px;
}

.boxes__carousel-cell {
  width: 100%;
  height: 200px;
  background: a.$carousel-green;
  border-radius: 5px;
}

.boxes__carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: a.$white;
}

.boxes__carousel-cell img {
  max-width: 100%;
  height: auto;
}

.boxes__carousel-grid-row {
  @include a.flexbox-config($flex-direction: column);
}

.boxes__carousel-grid-column {
  border: 2px solid a.$amber;
  max-width: 400px;

  display: flex;
  flex: {
    direction: column;
    grow: 1;
    shrink: 1;
    basis: auto;
  }
  margin: {
    top: 1em;
    bottom: 1em;
  }
  align-items: center;
}

/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #333;
}
.flickity-prev-next-button:hover {
  background: a.$amber;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: a.$white;
}
.flickity-prev-next-button.no-svg {
  color: a.$white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -10px;
}
.flickity-prev-next-button.next {
  right: -10px;
}

.boxes__carousel-content {
  @include a.flexbox-config($flex-direction: column);

  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  .boxes__carousel-grid-row {
    @include a.flexbox-config($flex-direction: column);
  }
  .boxes__carousel-grid-column {
    border: 2px solid a.$amber;
    margin-right: 10px;
  }
  .boxes__header {
    margin: 4rem 2rem 2rem 0;
    padding: 0;

    :nth-child(3) {
      margin: 1em 2em 0 0;
    }
  }
}
.boxes__carousel-content {
  @include a.flexbox-config($flex-direction: column);
  padding: 2em;
  margin: 2em 0 2em 0;

  > h3 {
    color: a.$amber;

    + .boxes__content-details > * {
      margin: 1em 0 1em 0;
    }
  }
}

@media only screen and (min-width: a.$boxes-tweakpoint) {
  .boxes__wrapper {
    @include a.flexbox-config($flex-direction: row, $align-items: baseline);
  }
}

@media only screen and (max-width: a.$lg-mobile-breakpoint) {
  .boxes__main-carousel {
    width: 75%;
    max-width: 100%;
    object-fit: cover;
    height: auto;
  }

  .boxes__carousel-cell {
    width: 100%;
    max-width: 100%;
    height: auto;

    img {
      max-width: 400px;
      width: 250px;
      height: auto;
    }
  }

  .flickity-viewport {
    height: 150px;
  }
}
