@use '../abstracts' as a;

.video-text {
  margin-bottom: 2rem;
}

.how-to-header {
  color: a.$amber;
  margin-top: 5rem;
}

.iframe-width-wrapper {
  max-width: 1000px;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}
