$boxes-tweakpoint: 1150px;
$tablet-breakpoint: 600px;
$header-text-tweakpoint: 1100px;
$large-tablet-breakpoint: 900px;
$lg-mobile-breakpoint: 400px;
$sm-mobile-breakpoint: 300px;
$md--mobile-tweakpoint: 350px;
