$gradient-amber: #e6a415, rgb(185, 180, 98);
$gradient-yellow: rgb(185, 180, 98);
$white: #fff;
$beige: #ebe7dc;
$offwhite: #faf9f6;
$amber-two: #f8d151;
$blue:rgba(29, 106, 154, 0.72);
$black: #0000;
$grey: #999;
$coral: coral;