@use './colors' as c;
// mixin for gradient
@mixin background-gradient($bg-color, $bg-image) {
  background-color: $bg-color;
  background-image: $bg-image;
}

@mixin bgGradient($color) {
  background-image: linear-gradient(lighten($color, 12%) 0%, $color 70%);
}

// vendor prefix mixin

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: $value;
    #{$property}: $value;
  }
}

// mixin for writing flexbox DRY
@mixin flexbox-config(
  $justify-content: false,
  $flex: false,
  $flex-direction: false,
  $align-items: false
) {
  display: flex;

  @if $justify-content != false {
    justify-content: $justify-content;
  }

  @if $flex != false {
    flex: $flex;
  }

  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }

  @if $align-items != false {
    align-items: $align-items;
  }
}

// Media query mixins

@mixin xl-screens {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin xl-tablets {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin lg-tablets {
  @media (min-width: 800px) {
    @content;
  }
}
@mixin md-tablets {
  @media (min-width: 700px) {
    @content;
  }
}
@mixin md-tablets-v2 {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin sm-tablets {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin sm-tablets-max-width {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin sm-tablets-v2 {
  @media (max-width: 550px) {
    @content;
  }
}
@mixin xs-tablets {
  @media (min-width: 500px) {
    @content;
  }
}
@mixin xs-tablets-v2 {
  @media (min-width: 450px) {
    @content;
  }
}
@mixin main-phone-breakpoint {
  @media (min-width: 400) {
    @content;
  }
}
@mixin md-phone {
  @media (min-width: 375px) {
    @content;
  }
}
@mixin extra-sm-phones {
  @media (min-width: 300px) {
    @content;
  }
}

@mixin extra-sm-phones-max {
  @media (max-width: 300px) {
    @content;
  }
}
