// spacing to be used throughout project

// margins
$margin-rem-spacing-sm: 1rem;
$margin-em-spacing-sm: 1em;
$margin-em-spacing-md: 2em;

// padding
$padding-xs-em: 0.5em;
$padding-sm-em: 1em;
$padding-lg-screen: 5rem;
$padding-lg-screen-lg-rem: 7rem;
