$header-intro-lg: 5rem;
$header-intro-xl: 7.5rem;
$header-intro-sm: 2.5rem;
$nav-font-size: 1rem;
$nav-font-sm-device: 0.7rem;

// Font size variables to be used throughout project
$font-size-sm-rem: 1rem;
$font-size-sm: 1em;
$font-size-sm-md: 2em;
