@use './colors' as c;

// colors
  $amber: #e6b515;
  $bubble-amber: c.$amber-two;
  $green: #14a96d;
  $white: #fff;
  $beige: #ebe7dc;
  $offwhite: #faf9f6;
  $black: #0000;
  $footer-grey: c.$grey;
  $content-wrapper-width: 1170px;

 